.DS_Store
.env
.env.local
.env.test
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
__pycache__/
.pytest_cache/
.idea/
docs/_build/
instance/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover